.divisor {
    border-bottom: solid 2px whitesmoke; 
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.coverPhoto {
    width: 95%;
    height: 100%;
    margin-top: 3rem;
    display: block;
}

.brand {
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 1.5rem;
    color: aliceblue;
}

.number {
    margin-top: 1.3rem;
    margin-left: 1rem;
    color: aliceblue;
}
.navbarfont {
    color: aliceblue;
}

.carouselText {
margin-bottom: 8%;
background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  text-align: center;
  width: 30%;
  padding: 10px 20px;
    
}

@media screen and (max-width: 700px) {
    .carouselText {
    position: relative;
    margin-top: 10%;
    margin-right: 30%;
    width: 70%;
    margin-bottom: 1%;
    }
    
}
